@charset "UTF-8";

/*Estilo para Telas*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background: black;
    color: white;
}
 
nav > ul > li {
    display: inline-block;
}