@media screen and (max-width: 780px) {
    .header-logo {
        margin: auto;
    }
    
    .header-menu {
        display: none;
    }
    
    .main-group {
        margin: auto;
        flex-wrap: wrap;
    }

}