@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primarybackground: #350a11;
    --secundarybackground: #160407;
    --tertiarybackground: #6e2914;
    --primarytext: rgb(255, 224, 166);
    --special: rgb(255, 147, 23);
}

img {
    width: 100%;
}

body {
    width: 100%;
    color: var(--primarytext)
}

a {
    text-decoration: none;
    color: var(--primarytext);
}

/* Header */

.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 48px;
    gap: 36px;
    row-gap: 24px;



    background-color: var(--primarybackground);
}

.header-logo {
    display: flex;
    color: var(--primarytext);
    align-items: center;
    gap: 3px;
    text-shadow: 5px 8px 6px rgba(0, 0, 0, 0.5);
    

    img {
        width: 64px;
    }
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;

    a {
        font-size: 20px;
        color: var(--primarytext);
        text-decoration: none;
        text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.521);
    }

    a:hover {
        transition-duration: 0.2s;
        color: var(--secundarybackground);
    }
    
}

/* Main */

.main-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 567px;
    gap: 30px;
    overflow: hidden;
    padding: 10px 64px;
    
    
    background-color: #350a11;
}

.main-description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 0 1 518px;
    gap: 24px;
    font-size: 1.5em;

    .title-primary {
        font-family: "Great Vibes", cursive;
        color: var(--special);
        font-size: 36px;
    }

    .description-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 14px;
        margin-top: 10px;
    }

    .button-n1 {
        border: solid 2px var(--secundarybackground);
        border-radius: 30px;
        padding: 14px 18px;
        font-size: 18px;
        background-color: var(--special);
        color: var(--primarybackground);

    }

    .button-n1:hover {
        background-color: var(--secundarybackground);
        color: var(--primarytext);
        border: solid 2px var(--primarytext);
        transition-duration: 0.2s;
    }

    .button-n2 {
        border: solid 2px var(--primarytext);
        border-radius: 30px;
        padding: 14px 18px;
        font-size: 18px;
        color: var(--primarytext);

    }

    .button-n2:hover {
        background-color: var(--primarytext);
        color: var(--secundarybackground);
        transition-duration: 0.5s;
    }
}

.main-image {
    display: flex;
    flex: 0 1 480px;
    
}