* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary: #151116;
    --secundary: #EFECCA;
    --tertiary: #817F75;

    --specialn1: #6800ca;
    --specialn2: #3b0072;
}

body {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--primary);
}

img {
    width: 100%;
}

strong {
        color: var(--specialn1);
}

a {
    text-decoration: none;
}

/* Header-configuration */

.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;

    background-color: #000000;
}

.header-logo {
    font-size: 4em;
    font-style: normal;
    font-weight: bolder;
    color: var(--secundary);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
}

.header-logo:hover {
    color: var(--specialn2);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.header-menu {
    display: flex;
    padding: 10px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    font-size: 20px;
    font-weight: bold;
    

    a {
        color: white;
        text-decoration: none;

    }
}

.header-menu .link-header:hover {
    color: var(--specialn2);
    transition: color 0.3s ease-in-out;
}

/* Presentation-configuration */

.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    
    min-height: 550px;

    color: var(--secundary);
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}

.presentation-text {
    max-width: 750px;
    font-size: 24px;
    text-shadow: -5px 5px 12px rgba(0, 0, 0, 0.651);
    font-style: italic;
    h2 {
        font-size: 2em;
        margin-bottom: 18px;
    }
}

.presentation-image {
    width: 450px;
    img {
        width: 100%;
        height: 100%;
    }
    
}

/*Hard Skill group*/
.hard-skills-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 600px;

    background-color: var(--secundary);
    color: var(--primary);
}

.hard-skills-items {
    h2 {
        margin-bottom: 10px;
    }

    ul {
        list-style-type: square;
        list-style-position: inside;
        font-style: italic;
    }

    li {
        margin-bottom: 8px;
    }
}

.hard-skills-image {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 300px;
    img {
        width: 100px;
    }

}



/*Footer Group*/

.footer-group {
    background-color: var(--primary);
    color: var(--secundary);
    text-align: center;
    padding: 10px 24px;
    width: 100%;
    
    a {
        text-decoration: none;
        color: var(--secundary);
    }

    a:hover {
        color: var(--specialn2);
        transition-duration: 0.3s;
    }
}
    

